<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /posyandu/

    # Disable directory browsing
    Options -Indexes

    # Redirect all requests to index.php if the request is not for a real file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
